/* Home page */
.home-page {
  background-color: cadetblue;
}

#ninaKoller {
  text-align: center;
  padding-top: 4%;
  padding-bottom: 1%;
  color: floralwhite;
}

#subHeading {
  text-align: center;
  padding: 2%;
  font-size: medium;
  font-style: italic;
  color: floralwhite;
}

#profilePic {
  border-style: solid;
  border-color: floralwhite;
}

.bio-text {
  margin-top: 50px;
}

.profile-links {
  padding-top: 50px;
  text-align: center;
}
.profile-links a {
  color: lightcyan;
  font-size: large;
}
/* Portfolio Page */
.portfolio-page {
  background-color: cadetblue;
}

.page-heading {
  color: floralwhite;
}

.portfolio-col-img {
  margin-bottom: 15px;
}

/* Contact Page */
.page-heading {
  text-align: center;
  padding: 2%;
}
#contactHead {
  color: black;
}
